* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(32, 18, 5);
    color: white;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    padding: 25px;
    font-size: 42px;
}

section {
    display: flex;
    align-items: center;
}

h2, h3 {
    text-align: center;
    margin-top: 10px;
}


p {
    width: 65%;
    margin: auto;
    line-height: 1.8em;
    margin-bottom: 10px;
}

img {
    display: block;
    height: auto;
    max-width: 40%;
    padding: 5px;
    margin: auto;
}

li {
    list-style: none;
    padding: 20px;
    background-color: white;
    border-radius: 20px;

    text-align: center;
    max-width: 50%;
    margin: auto;
    margin-bottom:10px;
}

li:hover {
    background-color: blanchedalmond;
}

li a {
    text-decoration: none;
    color: rgb(32, 18, 5);
    font-size: 36px;
}

.flows img {
    max-width: 90%;
}

.flows h3, .sketch h3 {
    font-size: 36px;
    text-align: center;
}

.flows, .sketch {
    padding: 20px;
    max-width: 80%;
    margin:auto;
}
