* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(32, 18, 5);
    color: white;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    padding: 25px;
    font-size: 42px;
}

h2 {
    text-align: center;
    margin-top: 10px;
}

p {
    width: 65%;
    margin: auto;
    line-height: 1.8em;
    margin-bottom: 10px;
}

img {
    display: block;
    height: auto;
    max-width: 25%;
    padding: 5px;
}

#pictures {
    display: flex;
    justify-content: center;
}

.comparative {
    display: flex;
    align-items: center;
    margin: 30px;
    gap: 20px;
}

.comparative p {
   width: 100%;
   margin: 0;
}

.comparative img {
    margin: auto;
    max-width: 50%;
}

.comparative a {
    color: white;
}

#citation {
    width: 65%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;

    background: white;
    color:  rgb(32, 18, 5);
}

.sources , .sources p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.sources h2 {
    width: 65%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background: white;
    color:  rgb(32, 18, 5);
}

