* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

section {
    padding-right: 50px;
    width: 70%;
}

#controls {
    position: absolute;
    top: 20%;
    left: 20%;
}

section button {
    display: block;
    background-color: transparent;
    font-size: 72px;

    padding: 10px;
    margin-bottom: 20px;
}

section button:hover {
    cursor: pointer;
}

video {
    height: auto;
    max-width: 35%;
}

.showing {
    display: none;
}

.hidden {
    display: block;
}