* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(32, 18, 5);
    color: white;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    padding: 25px;
    font-size: 42px;
}

h2 {
    text-align: center;
    margin-top: 10px;
}

p {
    width: 65%;
    margin: auto;
    line-height: 1.8em;
    margin-bottom: 10px;
}

img {
    display: block;
    height: auto;
    max-width: 40%;
    padding: 5px;
    margin: auto;
}